<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class='jumbotron'>
  <h1>
    {{ title }}
  </h1>
</div>
<div class='container'>
<div id='main' class='row'>
    <button class='btn btn-primary' (click)='getAllButtonClick()'>Click to get all tasks</button>
    <ul class='list-group'><li *ngFor='let task of tasks' class='list-group-item'>{{task.title}} - {{task.description}} <button class='btn btn-primary pull-right' (click)='getTaskButtonClick(task._id)'>Show</button></li></ul>
</div>
<div *ngIf='showOne'>
  <ul class='list-group'>{{task.title}}
    <li class='list-group-item'>{{task.description}}</li>
    <li class='list-group-item'>{{task._id}}</li>
  </ul>
</div>
</div>


